@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Silkscreen:wght@400;700&display=swap');

body {
    margin: 0;
}

.ui {
    display: flex;
    justify-content: center;
}

.item {
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 20px;
}

#wrapper {
    border: 5px;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    border-style: solid;
    width: 15rem;
    background-color:#333333;
    opacity: 0.8;
}

#blockCount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    justify-content: center;
}

.header {
    text-align: left;
    color: white;
    margin: 0;
    background-color: #acabab;
    height: 70px;
    display: flex;
    align-items: center;
}

.content {
    background: white;
}

#section {
    display: flex;
    justify-content: center;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    gap: 0;
    align-items: center;
    border: 5px;
    border-style: solid;
}

h1 {
    font-family: 'Silkscreen', serif;
    text-shadow: 5px 4px rgb(70, 67, 67);
    font-size: 50px;
    margin: 0;
    padding-top: 0;
    padding-left: 3rem;
}

#buttonSect {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


#blockSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    background-color: #c6c6c6;
    width: 500px;
    border: solid black;
    padding-bottom: 10px;
    border-radius: 10px;
}

.blocks {
    background-color: #8b8b8b;
    border-color: #333333 white white #333333;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    height: 40px;
    width: 40px;
}

.blockGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.current {
    border: solid 0.3em;
    width: auto;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #8b8b8b;
    border-color: #333333 #B3B3B3 #B3B3B3 #333333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;

}

.settings {
    background-color: #B3B3B3;
    display: inline-block;
    text-decoration: none;
}

.background {
    background: rgba(0, 0, 0, .65) url("images/dirtbackground.jpeg");
    background-blend-mode: darken;
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
}